In [1]:
import pandas as pd

In [45]:
player_data=pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\NBA_player_data_new.xlsx")

In [54]:
player_data.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'GAME_ID',
       'TEAM_ID', 'TEAM_ABBREVIATION', 'PLAYER_ID', 'PLAYER_NAME', 'MIN',
       'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'SEASON', 'IS_HOME', 'TEAM_WINS', 'TEAM_CITY', 'TS%',
       'GAME_DATE_EST', 'eFG%'],
      dtype='object')

In [47]:

# Convert GAME_DATE_EST to datetime for accurate sorting
player_data['GAME_DATE_EST'] = pd.to_datetime(player_data['GAME_DATE_EST'])

# Sort by PLAYER_ID and GAME_DATE_EST
player_data = player_data.sort_values(by=['PLAYER_ID', 'GAME_DATE_EST'])

In [48]:
player_data.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\check_date.xlsx")

In [19]:


# Convert GAME_DATE_EST to datetime for accurate sorting
player_data_merged['GAME_DATE_EST'] = pd.to_datetime(player_data_merged['GAME_DATE_EST'])

# Sort by PLAYER_ID and GAME_DATE_EST
player_data_merged = player_data_merged.sort_values(by=['PLAYER_ID', 'GAME_DATE_EST'])

# Convert 'MIN' to a numerical value (total minutes as a float)
def convert_minutes_to_float(min_str):
    try:
        if ':' in min_str:
            minutes, seconds = min_str.split(':')
            return int(minutes) + int(seconds) / 60
        else:
            return float(min_str)
    except ValueError:
        return 0  # Handle any unexpected format or missing data

player_data_merged['MIN'] = player_data_merged['MIN'].apply(convert_minutes_to_float)

# Calculate rolling averages for the last 5 games for each player
player_data_merged['avg_min'] = player_data_merged.groupby('PLAYER_ID')['MIN'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_pts'] = player_data_merged.groupby('PLAYER_ID')['PTS'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_reb'] = player_data_merged.groupby('PLAYER_ID')['REB'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_ast'] = player_data_merged.groupby('PLAYER_ID')['AST'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_stl'] = player_data_merged.groupby('PLAYER_ID')['STL'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_blk'] = player_data_merged.groupby('PLAYER_ID')['BLK'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_to'] = player_data_merged.groupby('PLAYER_ID')['TO'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_pf'] = player_data_merged.groupby('PLAYER_ID')['PF'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())

player_data_merged['avg_fg_pct'] = player_data_merged.groupby('PLAYER_ID')['FG_PCT'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_fg3_pct'] = player_data_merged.groupby('PLAYER_ID')['FG3_PCT'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_ft_pct'] = player_data_merged.groupby('PLAYER_ID')['FT_PCT'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())

player_data_merged['avg_plus_minus'] = player_data_merged.groupby('PLAYER_ID')['PLUS_MINUS'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_ts_pct'] = player_data_merged.groupby('PLAYER_ID')['TS%'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())
player_data_merged['avg_efg_pct'] = player_data_merged.groupby('PLAYER_ID')['eFG%'].transform(lambda x: x.shift(1).rolling(window=5, min_periods=1).mean())

# Fill missing values using forward fill
player_data_merged = player_data_merged.fillna(method='ffill')

# If there are still NaNs (for the very first match), fill them with 0
player_data_merged = player_data_merged.fillna(0)

# Display the first few rows of the updated player data
print(player_data_merged.head())

C:\Users\Daphne\AppData\Local\Temp\ipykernel_23008\2046522822.py:39: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  player_data_merged = player_data_merged.fillna(method='ffill')

        Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0   GAME_ID     TEAM_ID  \
245097        245097        245097      471641  11400039  1610612751
243251        243251        243251      469795  21400006  1610612751
242736        242736        242736      469280  21400033  1610612751
242464        242464        242464      469008  21400044  1610612751
242189        242189        242189      468733  21400060  1610612751

       TEAM_ABBREVIATION  PLAYER_ID    PLAYER_NAME        MIN  FGM  ...  \
245097               BKN        708  Kevin Garnett  10.683333    3  ...
243251               BKN        708  Kevin Garnett  22.683333    5  ...
242736               BKN        708  Kevin Garnett  35.033333    7  ...
242464               BKN        708  Kevin Garnett  19.733333    3  ...
242189               BKN        708  Kevin Garnett  25.133333    1  ...

         avg_stl   avg_blk    avg_to  avg_pf  avg_fg_pct  avg_fg3_pct  \
245097  0.000000  0.000000  0.000000     0.0     0.00000          0.0
243251  0.000000  0.000000  1.000000     1.0     0.75000          0.0
242736  0.000000  0.000000  2.500000     1.5     0.68750          0.0
242464  0.666667  0.333333  2.666667     2.0     0.61400          0.0
242189  0.750000  0.250000  2.250000     2.5     0.55425          0.0

        avg_ft_pct  avg_plus_minus  avg_ts_pct  avg_efg_pct
245097    0.000000        0.000000    0.000000      0.00000
243251    0.000000        0.000000    0.750000      0.75000
242736    0.000000       -5.500000    0.687500      0.68750
242464    0.333333        1.333333    0.637333      0.61400
242189    0.250000        4.000000    0.571750      0.55425

[5 rows x 49 columns]

In [20]:
player_data_merged

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,MIN,FGM,...,avg_stl,avg_blk,avg_to,avg_pf,avg_fg_pct,avg_fg3_pct,avg_ft_pct,avg_plus_minus,avg_ts_pct,avg_efg_pct
245097,245097,245097,471641,11400039,1610612751,BKN,708,Kevin Garnett,10.683333,3,...,0.000000,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.00000
243251,243251,243251,469795,21400006,1610612751,BKN,708,Kevin Garnett,22.683333,5,...,0.000000,0.000000,1.000000,1.0,0.75000,0.0,0.000000,0.000000,0.750000,0.75000
242736,242736,242736,469280,21400033,1610612751,BKN,708,Kevin Garnett,35.033333,7,...,0.000000,0.000000,2.500000,1.5,0.68750,0.0,0.000000,-5.500000,0.687500,0.68750
242464,242464,242464,469008,21400044,1610612751,BKN,708,Kevin Garnett,19.733333,3,...,0.666667,0.333333,2.666667,2.0,0.61400,0.0,0.333333,1.333333,0.637333,0.61400
242189,242189,242189,468733,21400060,1610612751,BKN,708,Kevin Garnett,25.133333,1,...,0.750000,0.250000,2.250000,2.5,0.55425,0.0,0.250000,4.000000,0.571750,0.55425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11840,11840,11840,11840,12200013,1610612746,LAC,1631351,Lucas Williamson,16.700000,1,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
11976,11976,11976,11976,12200003,1610612763,MEM,1631367,Jacob Gilyard,18.616667,0,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
11978,11978,11978,11978,12200003,1610612763,MEM,1631368,Justin Bean,6.050000,1,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
10678,10678,10678,10678,12200059,1610612743,DEN,1631371,Grant Golden,0.000000,0,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
154527,154527,154527,381071,11700010,1610612758,SAC,1962937827,Matt Matt,0.100000,0,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000

In [26]:
player_data_merged.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\checking_player.xlsx")

In [21]:
dummy_data=pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\modelling_team_data_new.xlsx")

In [51]:
NBA_player

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,MIN,...,avg_stl,avg_blk,avg_to,avg_pf,avg_fg_pct,avg_fg3_pct,avg_ft_pct,avg_plus_minus,avg_ts_pct,avg_efg_pct
0,245097,245097,245097,471641,11400039,1610612751,BKN,708,Kevin Garnett,10.683333,...,0.000000,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.00000
1,243251,243251,243251,469795,21400006,1610612751,BKN,708,Kevin Garnett,22.683333,...,0.000000,0.000000,1.000000,1.0,0.75000,0.0,0.000000,0.000000,0.750000,0.75000
2,242736,242736,242736,469280,21400033,1610612751,BKN,708,Kevin Garnett,35.033333,...,0.000000,0.000000,2.500000,1.5,0.68750,0.0,0.000000,-5.500000,0.687500,0.68750
3,242464,242464,242464,469008,21400044,1610612751,BKN,708,Kevin Garnett,19.733333,...,0.666667,0.333333,2.666667,2.0,0.61400,0.0,0.333333,1.333333,0.637333,0.61400
4,242189,242189,242189,468733,21400060,1610612751,BKN,708,Kevin Garnett,25.133333,...,0.750000,0.250000,2.250000,2.5,0.55425,0.0,0.250000,4.000000,0.571750,0.55425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246066,11840,11840,11840,11840,12200013,1610612746,LAC,1631351,Lucas Williamson,16.700000,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
246067,11976,11976,11976,11976,12200003,1610612763,MEM,1631367,Jacob Gilyard,18.616667,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
246068,11978,11978,11978,11978,12200003,1610612763,MEM,1631368,Justin Bean,6.050000,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
246069,10678,10678,10678,10678,12200059,1610612743,DEN,1631371,Grant Golden,0.000000,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000
246070,154527,154527,154527,381071,11700010,1610612758,SAC,1962937827,Matt Matt,0.100000,...,0.000000,0.000000,1.000000,0.0,0.00000,0.0,0.000000,1.000000,0.000000,0.00000

In [52]:
# Remove players with fewer than 6 games
player_counts = NBA_player['PLAYER_ID'].value_counts()
valid_players = player_counts[player_counts >= 6].index
NBA_player =NBA_player[NBA_player['PLAYER_ID'].isin(valid_players)]

In [53]:
NBA_player

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,MIN,...,avg_stl,avg_blk,avg_to,avg_pf,avg_fg_pct,avg_fg3_pct,avg_ft_pct,avg_plus_minus,avg_ts_pct,avg_efg_pct
0,245097,245097,245097,471641,11400039,1610612751,BKN,708,Kevin Garnett,10.683333,...,0.000000,0.000000,0.000000,0.0,0.00000,0.0000,0.000000,0.000000,0.000000,0.00000
1,243251,243251,243251,469795,21400006,1610612751,BKN,708,Kevin Garnett,22.683333,...,0.000000,0.000000,1.000000,1.0,0.75000,0.0000,0.000000,0.000000,0.750000,0.75000
2,242736,242736,242736,469280,21400033,1610612751,BKN,708,Kevin Garnett,35.033333,...,0.000000,0.000000,2.500000,1.5,0.68750,0.0000,0.000000,-5.500000,0.687500,0.68750
3,242464,242464,242464,469008,21400044,1610612751,BKN,708,Kevin Garnett,19.733333,...,0.666667,0.333333,2.666667,2.0,0.61400,0.0000,0.333333,1.333333,0.637333,0.61400
4,242189,242189,242189,468733,21400060,1610612751,BKN,708,Kevin Garnett,25.133333,...,0.750000,0.250000,2.250000,2.5,0.55425,0.0000,0.250000,4.000000,0.571750,0.55425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246049,2423,2423,2423,2423,22200372,1610612762,UTA,1631323,Simone Fontecchio,19.566667,...,0.000000,0.200000,0.800000,1.2,0.36660,0.3834,0.260000,-4.800000,0.530200,0.50000
246050,809,809,809,809,22200442,1610612762,UTA,1631323,Simone Fontecchio,14.866667,...,0.000000,0.200000,1.000000,1.4,0.43660,0.4834,0.380000,-2.800000,0.627800,0.60000
246051,394,394,394,394,22200452,1610612762,UTA,1631323,Simone Fontecchio,10.316667,...,0.000000,0.200000,1.000000,1.2,0.40660,0.3500,0.220000,-4.800000,0.539000,0.53000
246052,284,284,284,284,22200461,1610612762,UTA,1631323,Simone Fontecchio,5.066667,...,0.200000,0.200000,1.000000,1.2,0.39000,0.3166,0.220000,-4.000000,0.514000,0.50500
246053,47,47,47,47,22200478,1610612762,UTA,1631323,Simone Fontecchio,2.766667,...,0.200000,0.200000,0.600000,0.8,0.27000,0.1666,0.220000,-6.800000,0.334000,0.32500