In [2]:
import pandas as pd

In [3]:
games = pd.read_csv(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\games.csv")

In [4]:
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [5]:
# Display the column names of the games dataset
game_features = games.columns.tolist()
print("Features in games dataset:", game_features)

# Check for missing values in the games dataset
missing_values = games.isnull().sum()
print("Missing values in games dataset:")
print(missing_values)

Features in games dataset: ['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS']
Missing values in games dataset:
GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [6]:
# Check which rows have missing values in the specific columns
missing_values_rows = games[[
    'PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
    'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away'
]].isnull().any(axis=1)

# Extract the indices of rows with missing values
missing_indices = games[missing_values_rows].index

# Verify if the same rows have missing values across all the columns checked
consistent_missing = all(
    games.loc[missing_indices, [
        'PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
        'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away'
    ]].isnull().all(axis=1)
)

print("Rows with missing values:", missing_indices)
print("Are missing values consistent across these rows?:", consistent_missing)

Rows with missing values: Index([19175, 19176, 19177, 19178, 19179, 19180, 19181, 19182, 19183, 19184,
       19185, 19186, 19187, 19188, 19189, 19190, 19191, 19192, 19193, 19194,
       19195, 19196, 19197, 19198, 19199, 19200, 19201, 19202, 19203, 19204,
       19205, 19206, 19207, 19208, 19209, 19210, 19211, 19212, 19213, 19214,
       19215, 19216, 19217, 19218, 19219, 19220, 19221, 19222, 19223, 19224,
       19225, 19226, 19227, 19228, 19229, 19230, 19231, 19232, 19233, 19234,
       19235, 19236, 19237, 19238, 19239, 19240, 19241, 19242, 19243, 19244,
       19245, 19246, 19247, 19248, 19249, 19250, 19251, 19252, 19253, 19254,
       19255, 19256, 19257, 19258, 19259, 19260, 19261, 19262, 19263, 19264,
       19265, 19266, 19267, 19268, 19269, 19270, 19271, 19278, 19279],
      dtype='int64')
Are missing values consistent across these rows?: True

In [7]:
games_details = pd.read_csv(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\games_details.csv")

C:\Users\Daphne\AppData\Local\Temp\ipykernel_1240\634453159.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\games_details.csv")

In [8]:

# Check for game IDs in games dataset that are not in games_details dataset
missing_game_ids = games[~games['GAME_ID'].isin(games_details['GAME_ID'])]['GAME_ID']

# Count of missing game IDs
missing_count = missing_game_ids.count()

# Output the missing game IDs and their count
print("Missing Game IDs:", missing_game_ids.tolist())
print("Count of Missing Game IDs:", missing_count)

Missing Game IDs: [10300116, 10300108, 10300109, 10300113, 10300112, 10300110, 10300111, 10300114, 10300115, 10300103, 10300106, 10300107, 10300104, 10300102, 10300105, 10300094, 10300095, 10300101, 10300097, 10300099, 10300096, 10300098, 10300100, 10300089, 10300091, 10300093, 10300090, 10300092, 10300085, 10300088, 10300087, 10300086, 10300080, 10300082, 10300083, 10300084, 10300081, 10300074, 10300077, 10300073, 10300079, 10300075, 10300076, 10300078, 10300069, 10300064, 10300071, 10300066, 10300067, 10300070, 10300068, 10300065, 10300072, 10300058, 10300062, 10300059, 10300060, 10300061, 10300063, 10300057, 10300054, 10300055, 10300056, 10300051, 10300049, 10300050, 10300048, 10300044, 10300052, 10300046, 10300053, 10300045, 10300047, 10300043, 10300042, 10300039, 10300040, 10300041, 10300034, 10300035, 10300036, 10300030, 10300031, 10300032, 10300033, 10300037, 10300038, 10300023, 10300027, 10300024, 10300025, 10300026, 10300020, 10300021, 10300019, 10300022, 10300013, 10300015, 10300006]
Count of Missing Game IDs: 99

In [9]:
#checking whether all the game id in the games data set are in the games_details data set 
# Extract unique GAME_IDs from both datasets
games_game_ids = games['GAME_ID'].unique()
games_details_game_ids = games_details['GAME_ID'].unique()

# Find GAME_IDs in games not in games_details
missing_in_details = set(games_game_ids) - set(games_details_game_ids)
missing_in_details_count = len(missing_in_details)

# Find GAME_IDs in games_details not in games
missing_in_games = set(games_details_game_ids) - set(games_game_ids)
missing_in_games_count = len(missing_in_games)

# Output the results
print(f"GAME_IDs missing in games_details: {missing_in_details_count}")
print(f"GAME_IDs missing in games: {missing_in_games_count}")

GAME_IDs missing in games_details: 99
GAME_IDs missing in games: 0

In [10]:
# Checking whether all the team id in the games data set are in the games_details data set and vise versa.

# Extract unique TEAM_IDs from the games dataset (both home and visitor)
home_team_ids = games['HOME_TEAM_ID'].unique()
visitor_team_ids = games['VISITOR_TEAM_ID'].unique()
games_team_ids = set(home_team_ids).union(visitor_team_ids)

# Extract unique TEAM_IDs from the games_details dataset
details_team_ids = games_details['TEAM_ID'].unique()

# Find TEAM_IDs in games not in games_details
missing_teams_in_details = games_team_ids - set(details_team_ids)
missing_teams_in_details_count = len(missing_teams_in_details)

# Find TEAM_IDs in games_details not in games
missing_teams_in_games = set(details_team_ids) - games_team_ids
missing_teams_in_games_count = len(missing_teams_in_games)

# Output the results
print(f"TEAM_IDs missing in games_details: {missing_teams_in_details_count}")
print(f"TEAM_IDs missing in games: {missing_teams_in_games_count}")

TEAM_IDs missing in games_details: 0
TEAM_IDs missing in games: 0

In [11]:
# List of missing GAME_IDs
missing_game_ids = [10300116, 10300108, 10300109, 10300113, 10300112, 10300110, 10300111, 10300114, 10300115, 10300103, 10300106, 10300107, 10300104, 10300102, 10300105, 10300094, 10300095, 10300101, 10300097, 10300099, 10300096, 10300098, 10300100, 10300089, 10300091, 10300093, 10300090, 10300092, 10300085, 10300088, 10300087, 10300086, 10300080, 10300082, 10300083, 10300084, 10300081, 10300074, 10300077, 10300073, 10300079, 10300075, 10300076, 10300078, 10300069, 10300064, 10300071, 10300066, 10300067, 10300070, 10300068, 10300065, 10300072, 10300058, 10300062, 10300059, 10300060, 10300061, 10300063, 10300057, 10300054, 10300055, 10300056, 10300051, 10300049, 10300050, 10300048, 10300044, 10300052, 10300046, 10300053, 10300045, 10300047, 10300043, 10300042, 10300039, 10300040, 10300041, 10300034, 10300035, 10300036, 10300030, 10300031, 10300032, 10300033, 10300037, 10300038, 10300023, 10300027, 10300024, 10300025, 10300026, 10300020, 10300021, 10300019, 10300022, 10300013, 10300015, 10300006]  # Complete the list

# Remove rows with missing GAME_IDs from both datasets
games = games[~games['GAME_ID'].isin(missing_game_ids)]
games_details = games_details[~games_details['GAME_ID'].isin(missing_game_ids)]

# Verify removal
print(f"Remaining GAME_IDs in games: {len(games['GAME_ID'].unique())}")
print(f"Remaining GAME_IDs in games_details: {len(games_details['GAME_ID'].unique())}")

Remaining GAME_IDs in games: 26523
Remaining GAME_IDs in games_details: 26523

In [12]:
#checking again #checking whether all the game id in the games data set are in the games_details data set 
# Extract unique GAME_IDs from both datasets
games_game_ids = games['GAME_ID'].unique()
games_details_game_ids = games_details['GAME_ID'].unique()

# Find GAME_IDs in games not in games_details
missing_in_details = set(games_game_ids) - set(games_details_game_ids)
missing_in_details_count = len(missing_in_details)

# Find GAME_IDs in games_details not in games
missing_in_games = set(games_details_game_ids) - set(games_game_ids)
missing_in_games_count = len(missing_in_games)

# Output the results
print(f"GAME_IDs missing in games_details: {missing_in_details_count}")
print(f"GAME_IDs missing in games: {missing_in_games_count}")

GAME_IDs missing in games_details: 0
GAME_IDs missing in games: 0

In [13]:

# Calculate the total number of unique GAME_IDs
total_game_ids = games['GAME_ID'].nunique()

print(f"Total number of unique GAME_IDs in the games dataset: {total_game_ids}")

Total number of unique GAME_IDs in the games dataset: 26523

In [14]:
# Checking for duplicate GAME_IDs in the games dataset
duplicate_game_ids_games = games[games.duplicated(subset=['GAME_ID'], keep=False)]

# Get unique duplicate GAME_IDs and their count
unique_duplicate_game_ids = duplicate_game_ids_games['GAME_ID'].unique()
number_of_duplicates = len(unique_duplicate_game_ids)

print(f"Duplicate GAME_IDs: {unique_duplicate_game_ids}")
print(f"Number of unique duplicate GAME_IDs: {number_of_duplicates}")

Duplicate GAME_IDs: [22000070 22000072 22000076 22000077 22000065 22000067 22000057 22000046
 22000049 22000051 22000053 22000055 22000042 22000044 22000032 22000034
 22000037 22000038 22000021 22000022 22000027 22000028 22000030 22000006
 22000007 22000011 22000013 22000015 22000018]
Number of unique duplicate GAME_IDs: 29

In [15]:
# Identify duplicate GAME_IDs (if any) and remove duplicates, keeping the first occurrence
games = games.drop_duplicates(subset=['GAME_ID'], keep='first')

# Get the remaining unique GAME_IDs
remaining_game_ids = games['GAME_ID'].unique()

# Output the results
print(f"Remaining GAME_IDs: {remaining_game_ids}")
print(f"Total number of unique GAME_IDs: {len(remaining_game_ids)}")

Remaining GAME_IDs: [22200477 22200478 22200466 ... 11400005 11400002 11400001]
Total number of unique GAME_IDs: 26523

In [16]:
# check how many seasons are there.
# Get unique seasons
unique_seasons = games['SEASON'].unique()
number_of_seasons = len(unique_seasons)

# Output the results
print(f"Number of seasons: {number_of_seasons}")
print(f"Seasons: {unique_seasons}")

Number of seasons: 20
Seasons: [2022 2021 2020 2019 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004
 2003 2018 2017 2016 2015 2014]

In [17]:
# check the total number of teams and check if all the teams played in each season.
# Extract team IDs from both home and visitor columns
home_team_ids = games['HOME_TEAM_ID']
visitor_team_ids = games['VISITOR_TEAM_ID']

# Combine team IDs from both columns and get unique values
all_team_ids = set(pd.concat([home_team_ids, visitor_team_ids]).unique())

# Counting the number of teams in each season
teams_per_season = games.groupby('SEASON')['HOME_TEAM_ID'].nunique()

# Check which teams played in each season
teams_in_each_season = games.groupby('SEASON')['HOME_TEAM_ID'].apply(set).combine(
    games.groupby('SEASON')['VISITOR_TEAM_ID'].apply(set), lambda x, y: x | y
)

# Check if all teams played in every season and identify missing teams
teams_not_playing_in_season = {
    season: all_team_ids.difference(teams)
    for season, teams in teams_in_each_season.items()
    if len(all_team_ids.difference(teams)) > 0
}

# Output the results
print(f"Total number of teams: {len(all_team_ids)}")
print(f"Teams: {all_team_ids}")
print(f"Teams per season: \n{teams_per_season}")
print(f"Teams not playing in each season: \n{teams_not_playing_in_season}")

Total number of teams: 30
Teams: {1610612737, 1610612738, 1610612739, 1610612740, 1610612741, 1610612742, 1610612743, 1610612744, 1610612745, 1610612746, 1610612747, 1610612748, 1610612749, 1610612750, 1610612751, 1610612752, 1610612753, 1610612754, 1610612755, 1610612756, 1610612757, 1610612758, 1610612759, 1610612760, 1610612761, 1610612762, 1610612763, 1610612764, 1610612765, 1610612766}
Teams per season:
SEASON
2003    29
2004    30
2005    30
2006    30
2007    30
2008    30
2009    30
2010    30
2011    30
2012    30
2013    30
2014    30
2015    30
2016    30
2017    30
2018    30
2019    30
2020    30
2021    30
2022    30
Name: HOME_TEAM_ID, dtype: int64
Teams not playing in each season:
{2003: {1610612766}}

In [18]:
# Filter out the rows from the 2003 season in the games dataset
games_cleaned = games[games['SEASON'] != 2003]

# Filter out the rows with GAME_IDs from the 2003 season in the games_details dataset
season_2003_game_ids = games[games['SEASON'] == 2003]['GAME_ID']
games_details_cleaned = games_details[~games_details['GAME_ID'].isin(season_2003_game_ids)]

# Output the number of rows removed from each dataset
rows_removed_games = games.shape[0] - games_cleaned.shape[0]
rows_removed_games_details = games_details.shape[0] - games_details_cleaned.shape[0]

print(f"Rows removed from games dataset: {rows_removed_games}")
print(f"Rows removed from games_details dataset: {rows_removed_games_details}")

# Optionally, save the cleaned datasets
# games_cleaned.to_csv('cleaned_games.csv', index=False)
# games_details_cleaned.to_csv('cleaned_games_details.csv', index=False)

Rows removed from games dataset: 1286
Rows removed from games_details dataset: 30703

In [20]:
#recheck if the season 2003 is been deleted.
# Verify the number of unique seasons remaining
unique_seasons_after_cleaning = games_cleaned['SEASON'].unique()
number_of_seasons_after_cleaning = len(unique_seasons_after_cleaning)

# Count the number of teams per season
teams_per_season_after_cleaning = games_cleaned.groupby('SEASON')['HOME_TEAM_ID'].nunique()

# Teams playing in each season
teams_in_each_season_after_cleaning = games_cleaned.groupby('SEASON')['HOME_TEAM_ID'].apply(set).combine(
    games_cleaned.groupby('SEASON')['VISITOR_TEAM_ID'].apply(set), lambda x, y: x | y
)

# List all unique team IDs
all_team_ids_after_cleaning = set(pd.concat([games_cleaned['HOME_TEAM_ID'], games_cleaned['VISITOR_TEAM_ID']]).unique())

# Identify teams not playing in each season
teams_not_playing_in_season_after_cleaning = {
    season: all_team_ids_after_cleaning.difference(teams)
    for season, teams in teams_in_each_season_after_cleaning.items()
    if len(all_team_ids_after_cleaning.difference(teams)) > 0
}

# Output the results
print(f"Number of seasons after cleaning: {number_of_seasons_after_cleaning}")
print(f"Seasons: {unique_seasons_after_cleaning}")
print(f"Teams per season after cleaning: \n{teams_per_season_after_cleaning}")
print(f"Teams not playing in each season after cleaning: \n{teams_not_playing_in_season_after_cleaning}")

Number of seasons after cleaning: 19
Seasons: [2022 2021 2020 2019 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004
 2018 2017 2016 2015 2014]
Teams per season after cleaning:
SEASON
2004    30
2005    30
2006    30
2007    30
2008    30
2009    30
2010    30
2011    30
2012    30
2013    30
2014    30
2015    30
2016    30
2017    30
2018    30
2019    30
2020    30
2021    30
2022    30
Name: HOME_TEAM_ID, dtype: int64
Teams not playing in each season after cleaning:
{}

In [21]:
# Columns to remove
columns_to_remove = [ 'GAME_STATUS_TEXT', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID']

# Remove the specified columns
games_data = games_cleaned.drop(columns=columns_to_remove)

# Display the first few rows of the cleaned dataset to verify
print(games_data.head())

  GAME_DATE_EST   GAME_ID  SEASON  TEAM_ID_home  PTS_home  FG_PCT_home  \
0    2022-12-22  22200477    2022    1610612740     126.0        0.484
1    2022-12-22  22200478    2022    1610612762     120.0        0.488
2    2022-12-21  22200466    2022    1610612739     114.0        0.482
3    2022-12-21  22200467    2022    1610612755     113.0        0.441
4    2022-12-21  22200468    2022    1610612737     108.0        0.429

   FT_PCT_home  FG3_PCT_home  AST_home  REB_home  TEAM_ID_away  PTS_away  \
0        0.926         0.382      25.0      46.0    1610612759     117.0
1        0.952         0.457      16.0      40.0    1610612764     112.0
2        0.786         0.313      22.0      37.0    1610612749     106.0
3        0.909         0.297      27.0      49.0    1610612765      93.0
4        1.000         0.378      22.0      47.0    1610612741     110.0

   FG_PCT_away  FT_PCT_away  FG3_PCT_away  AST_away  REB_away  HOME_TEAM_WINS
0        0.478        0.815         0.321      23.0      44.0               1
1        0.561        0.765         0.333      20.0      37.0               1
2        0.470        0.682         0.433      20.0      46.0               1
3        0.392        0.735         0.261      15.0      46.0               1
4        0.500        0.773         0.292      20.0      47.0               0

In [23]:
# Convert as an excel file 
save_path = r"C:\Users\Daphne\OneDrive\Documents\NBA data set\games_home_away.xlsx"

# Save the DataFrame to an Excel file
games_data.to_excel(save_path, index=False)

print(f"Data saved to {save_path}")

Data saved to C:\Users\Daphne\OneDrive\Documents\NBA data set\games_home_away.xlsx

In [24]:
# Check for missing values
missing_values_summary = games_data.isnull().sum()

# Output the result
print(missing_values_summary)

GAME_DATE_EST     0
GAME_ID           0
SEASON            0
TEAM_ID_home      0
PTS_home          0
FG_PCT_home       0
FT_PCT_home       0
FG3_PCT_home      0
AST_home          0
REB_home          0
TEAM_ID_away      0
PTS_away          0
FG_PCT_away       0
FT_PCT_away       0
FG3_PCT_away      0
AST_away          0
REB_away          0
HOME_TEAM_WINS    0
dtype: int64

In [ ]:
# Load the dataset from an Excel file
games_details_cleaned = pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\nba gamesgames_details_cleaned.xlsx")

# Ensure the COMMENT column is treated as strings
games_details_cleaned['COMMENT'] = games_details_cleaned['COMMENT'].astype(str)

# Define comments to filter out
comments_to_filter = (
    "DNP|DND|NWT|Did Not Dress|Not With Team|Not with team|DNT|INJ|Did Not Travel|"
    "NBA Suspension|Did not dress|MWT|Will Not Play|OUT|Inactive|NOT WITH TEAM - FLU|"
    "NOT WITH TEAM - LEFT HIP STRAIN|NOT WITH TEAM - PERSONAL REASONS|"
    "NOT WITH TEAM - LEFT KNEE SURGERY|NOT WITH TEAM - UPPER RESPIRATORY INFECT|"
    "NBA SUSPENSION|Did not Dress - Left Wrist Sprain"
)

# Remove rows with specified comments
games_details_filtered = games_details_cleaned[
    ~games_details_cleaned['COMMENT'].str.contains(comments_to_filter, na=False)
]

# Specifically remove the row with GAME_ID 11700036 and PLAYER_ID 204022
games_details_filtered = games_details_filtered[
    ~((games_details_filtered['GAME_ID'] == 11700036) & (games_details_filtered['PLAYER_ID'] == 204022))
]

# Display the first few rows of the filtered dataset to verify the removal
print(games_details_filtered.head())

In [ ]:
# Check for missing values
missing_values_summary = games_details_filtered.isnull().sum()

# Output the result
print(missing_values_summary)

In [ ]:
# Define the path to save the filtered dataset
filtered_save_path = r"C:\Users\Daphne\OneDrive\Documents\NBA data set\nba gamesgames_details_cleaned.xlsx"

# Save the filtered DataFrame to an Excel file
games_details_filtered.to_excel(filtered_save_path, index=False)

print(f"Filtered data saved to {filtered_save_path}")

In [ ]:
# Load the dataset
games_details_filtered = pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\nba gamesgames_details_cleaned.xlsx")

# Columns to check for missing values
columns_with_missing_values = [
    'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
    'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS'
]

# Find rows where all specified columns have missing values
rows_with_all_missing = games_details_filtered[
    games_details_filtered[columns_with_missing_values].isnull().all(axis=1)
]

# Display the rows with all missing values in the specified columns
print(rows_with_all_missing)